
<header>
  <div class="container">
    <a routerLink="/" class="logo">HOME</a>
    <nav>
      <ul>
        <li>
          <a routerLink="/cart-page">
            Cart <span *ngIf="cartQuantity">{{cartQuantity}}</span>
          </a>
        </li>
        <li *ngIf="!isAuth">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="!isAuth">
          <a routerLink="/register">Register</a>
        </li>
        <li *ngIf="isAuth && isAdmin">
          <a routerLink="/addFood">Add new food</a>
        </li>
        <li *ngIf="isAuth" class="menu-container">
          <a routerLink="/">{{user.name}} <span *ngIf="isAuth && isAdmin">ADMIN</span></a>
          <a (click)="logout()">Logout</a>
        </li>
        
      </ul>
    </nav>
  </div>
</header>
